@font-face {
  font-family: acme;
  src: url(../../Acme/Acme-Regular.ttf);
}
/*________________________________________________ Main CSS for entire body tag */

/*________________________________________________ Splash screen */

.hidden {
  display: none;
}

.name {
  margin-left: 5px;
}
.lore-text {
  margin: 2rem 10%;
}

.splash {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: url(../images/Itachi.jpg);
  text-align: center;
  color: black;
  margin-top: 1rem;
}

.splash.display-none {
  z-index: -10;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: url(../images/Itachi.jpg);
  text-align: center;
  line-height: 80vh;
  color: black;
  transition: all 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

h3.fade-in {
  margin-top: 57px;
}

body {
  color: white;
  overflow: hidden;
  font-family: "Acme", sans-serif;
}

.background {
  background-image: url(../images/background.jpg);
  background-blend-mode: overlay;
  background-repeat: round;
}

.title-img {
  width: 33%;
  height: 115%;
}
/*_______________________________________________________________________Header__*/
body header {
  height: 10vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
body header .timer {
  position: absolute;
  top: 14%;
  left: 88%;
  font-size: 25px;
  background: black;
  width: 57.6px;
  height: 57.6px;
  line-height: 57.6px;
  border-radius: 28.8px;
  text-align: center;
}

.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*_______________________________________________________________________Main Game, Flip Card effect__*/

.game {
  height: 648px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.flip-container {
  perspective: 1000px;
  height: 22%;
  margin: 1%;
  cursor: pointer;
}

.flip-container.flip .flipper {
  transform: rotateY(180deg);
 
}

.flip-container,
.front,
.back {
  width: 23%;
  float: left;
  border-radius: 0.9rem;
}

.flipper {
  
  transition: 0.6s;
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
}
.flipper .front,
.flipper .back {
  backface-visibility: hidden;
  position: absolute;
  top: 7px;
  left: 0;
  height: 90%;
  width: 100%;
  box-shadow: black 0 0px 13px;
}
.flipper .front {
  transform: rotateY(0deg);
  background: orange;
}
.flipper .back {
  transform: rotateY(180deg);
  border: 1px solid rgb(0, 0, 0);
}

/*_______________________________________________________________________Card choices (images) ___*/

#Gamakichi {
  background: white url("../images/Gamakichi.jpg") no-repeat center;
  background-size: cover;
}
#Konoha {
  background: white url("../images/Konoha.jpg") no-repeat center;
  background-size: cover;
}
#Ramen {
  background: white url("../images/Ramen.jpg") no-repeat center;
  background-size: cover;
}
#Seal {
  background: white url("../images/Seal.jpg") no-repeat center;
  background-size: cover;
}
#Sharingan {
  background: white url("../images/Sharingan.jpg") no-repeat center;
  background-size: cover;
}
#Smile {
  background: white url("../images/Smile.jpg") no-repeat center;
  background-size: cover;
}
#Uchiha {
  background: white url("../images/Uchiha.jpg") no-repeat center;
  background-size: cover;
}

#Sasuke {
  background: white url("../images/Sasuke.jpg") no-repeat center;
  background-size: cover;
}

/*_______________________________________________________________________Media Queries___*/

@media screen and (min-width: 37.4375em) {
  body header {
    width: 600px;
  }
}

@media screen and (max-width: 37.4375em) {
  .background {
    background-image: none;
    background-color: black;
  }
}

@media screen and (max-width: 37.4375em) {
  .lore-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 37.4375em) {
  .tutor {
    font-size: 15px;
  }
}

/* Game media query*/

@media screen and (min-width: 37.4375em) {
  .game {
    width: 600px;
  }
}
